.navbar-container {
  width: 100%;

  .nav-link {
    color: $color4;
    padding: 1em 1.5em;
    display: block;
    max-height: $headerBar;
  }

  .nav-list {
    margin: 0;
    padding: 0;
  }

  .nav-list-item {
    list-style: none;
    background-color: $color2;
    text-align: center;

    &:hover {
      background-color: $color5;
    }
  }

  @media #{$mediaSmallMin} {
    .main-links {
      position: fixed;
      width: 100%;
      top: 0;
      min-height: 3em;
    }

    .nav-list {
      display: flex;
      justify-content: flex-end;
    }
  }
}