@import "variables";

html {
  height: 100%;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $color3;

  // Import component styling
  @import "header";
  @import "navbar";
}