@import "variables";

html {
  height: 100%;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  background-color: $color4;
  margin: 0;
  max-width: 940px;
  padding: 0;

  .wrap {
    margin: 0 auto 90px;
    max-width: 540px;
    padding: 0 15px;
  }

  @import "header";
  @import "navbar";
  @import "./portfolio/project_card";
  @import "./portfolio/project_list";
}