@import "variables";

html {
  height: 100%;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $color3;

  .wrap {
    margin: 0 auto 90px;
    max-width: 540px;
    padding: 0 15px;
  }

  // Import component styling
  @import "header";
  @import "navbar";
}